
 .globe {
    stroke: rgba(255, 255, 255, .5);
    stroke-width: .25px;
}
  .water {
    /*fill:#A3CCFF;*/
    fill:#2A5385;
      fill-opacity: 1;
  stroke: #1F2D86;
 
  stroke-width: 1px;
    cursor: move;
  }
  
  .land {
    fill: #F3F1ED;
    stroke: #696969;
    stroke-width: 0.3px;
    opacity: 3;
    cursor: move;
  }
  
  .land:hover {
    fill: #F1EBD1;
    stroke-width: 1px;
  }
  
  .focused {
    fill: #F1EBD1;
  }
  #worldmap {margin:0 auto;}
  
  .countryTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
  }
  select {
  position: absolute;
  top: 20px;
  left: 580px;
  border: solid #ccc 1px;
  padding: 3px;
  box-shadow: inset 1px 1px 2px #ddd8dc;
}
.feature {
    fill: #c2c2c2;
    stroke: #e2e2e2;
    stroke-width: .5px;
}

.dev {
  fill: #ff8e00;
  fill-opacity: 0.6;
  stroke: #333;
  stroke-width: 1px;
}


.label1{
    fill:#000;
}


/*d3cssmap*/

    .background {
      fill: none;
      pointer-events: all;
    }
    #countries, #states {
        fill: #F3F1ED;
        stroke: #696969;
    stroke-width: 0.3px;
    opacity: 3;
    }
    #countries .active, #states .active {
       fill: #F1EBD1;
    }
    #cities {
      stroke-width: 0;
    }
    .city {
      fill: #345;
      stroke: #fff;
    }
    pre.prettyprint {
      border: 1px solid #ccc;
      margin-bottom: 0;
      padding: 9.5px;
    }





/* pulse in SVG */

svg .cityPoint { 
  transform: scale(0.9);
  transform-origin: center center;
  animation: pulse-me 2s linear infinite;
}
svg .datamaps-bubble { 
  transform: scale(0.9);
  transform-origin: center center;
  animation: pulse-me 2s linear infinite;
}

/*svg.pulse-svg .second-circle {
  animation-delay: 1s;
}
svg.pulse-svg .third-circle {
  animation-delay: 2s;
}*/

@keyframes pulse-me{
	0%{
		transform: scale(0.5);
		opacity: 0.9;
	}
    25%{
        opacity: 0.6;
    }
	50%{
        transform: scale(0.8);
		opacity: 0.7;
	}
	77%{
        transform: scale(0.9);
		opacity: 0.8;
	}
	100%{
		transform: scale(0.5);
		opacity: 0.9;
	}
}